{% extends 'templates/admin.twig' %}

{% block title %}Add Scouts{% endblock %}

{% block scripts %}
<script src="{{ url.base }}/public/js/addscouts.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="container">
              <form class="form-add" method="POST" action="{{ urlFor('admin.scouts.add.post') }}" id="addScout" role="form">
                <h2 class="form-add-heading">Add Scout</h2>
                <div class="form-group">
                    <label for="inputName" class="sr-only">Name</label>
                    <input type="text" id="inputName" name="inputName" class="form-control" placeholder="Scouts Name" required autofocus minlenght="1" maxlength="55">
                </div>
                  
                <div class="form-group" style="float: left; padding-right: 15px;">
                  <label for="inputAge" class="sr-only">Age</label>
                  <select name="inputAge" class="form-control" style="float: left;">
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14" selected>14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                  </select>
                </div>

                <div class="form-group" style="float: left;">
                  <label for="inputRank" class="sr-only">Rank</label>
                  <select name="inputRank" class="form-control" style="float: left;">
                    <option value="scout">Scout</option>
                    <option value="tender_foot">Tender Foot</option>
                    <option value="second_class">Second Class</option>
                    <option value="first_class" selected>First Class</option>
                    <option value="star">Star</option>
                    <option value="life">Life</option>
                    <option value="egale">Eagle</option>
                  </select>
                </div>

                <div style="float: right; overflow: auto;">
                    <div>
                        <h4>Completed Badges</h4>
                        <button class="btn btn-md btn-success" type="button" id="addCompBadge">Add Another Badge</button>
                        
                        <div class="form-group" id="inputCompBadge">
                            <select name="inputCompBadge[0]" class="form-control" id="selectCompBadge">
                              <option value="select" selected="">Select</option>
                              {% set v = 0 %}
                              {% for i in badges %}
                                <option value="{{ badges[v].name }}">{{ badges[v].name|capitalize }}</option>
                              {% set v = v + 0 %}
                              {% endfor %}
                              <option value="tender_foot">Tender Foot</option>
                              
                            </select>
                        </div>
                    </div>

                    <div>
                        <h4>Partial Badges</h4>
                        <button class="btn btn-md btn-success" type="button" id="addIncBadge">Add Another Badge</button>

                        <div class="form-group" id="inputIncBadge">
                            <select name="inputIncBadge[0]" class="form-control inc-badge" id="selectIncBadge">
                              <option value="select" selected="">Select</option>
                              {% set v = 0 %}
                              {% for i in badges %}
                                <option value="{{ badges[v].name }}">{{ badges[v].name|capitalize }}</option>
                              {% set v = v + 0 %}
                              {% endfor %}
                              <option value="tender_foot">Tender Foot</option>
                              
                            </select>
                        </div>
                    </div>
                </div>

                <div class="requirements_pane">
                </div>
                  
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="padding-top: 15px;">Submit</button>
                <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}" id="check">
              </form>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block styles %}
<link href="{{ url.base }}/public/css/addscouts.css" type="text/css" rel="stylesheet">
{% endblock %}