{% extends 'templates/default.twig' %}

{% block title %}Gear Checkout{% endblock %}

{% set x = gear.amount %}
{% set v = 0 %}
{% for i in gear.checkout_history %}
    {% if gear.checkout_history[v].dateOut and gear.checkout_history[v].dateIn is empty %}
        {% set x = x - 1 %}
    {% endif %}
    {% set v = v + 1 %}
{% endfor %}

{% block content %}
<div class="checkout-body">
    <div class="header">
        <h2 class="page-header">Gear Checkout</h2>
    </div>
    <div class="item-info">
        {% if not gear %}
            <h4>No Gear Info Found</h4>
        {% else %}
        <div>
            <h4 class="line">Item Info</h4>
            <p class="gear-name"><span class="label">Name:</span>{{ gear.name }}</p>
            <p class="gear-name"><span class="label">Brand:</span>{{ gear.brand }}</p>
            <p class="gear-name">
                <span class="label">
                    Amount:
                </span>
                {{ gear.amount }}
                {% if gear.checkout_history %}
                    <span class="label">
                    Amount Left:
                    </span>
                    {{ x }}
                {% endif %}
            </p>
            <p class="gear-name"><span class="label">Serial Number:</span>{{ gear.serial }}</p>
            <p class="gear-name"><span class="label">Status:</span>{{ gear.status }}</p>
        </div>
        {% endif %}
    </div>
    <div class="checkout-form">
        <h3>Checkout</h3>
        <form class="form-add" method="POST" action="{{ urlFor('gear.checkout.post') }}" id="checkoutGear" role="form">
            <div class="form-group">
                <label for="inputDate">Check Out Date</label>
                <input type="text" id="inputDate" name="inputDate" class="form-control" placeholder="Checkout Date">
            </div>

            <div class="form-group" id="checkoutName">
                <label for="inputDate">Check Out Name</label>
                <input type="text" id="inputCheckOutName" name="inputCheckOutName" class="form-control" placeholder="Checkout Name">
            </div>
            <div class="form-button">
                <button class="btn btn-lg btn-primary btn-block" type="submit" {% if x <= 0 %}disabled{% endif %}>Submit</button>
            </div>
            <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}" id="check">
        </form>
    </div>
    <div class="checkout-history">
        {% if not gear.checkout_history %}
            <div class="item-history"><h4>No Checkout History</h4></div>
        {% else %}
        <div class="item-history"><h4 class="line">Checkout History</h4></div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Checkout Day</th>
                        <th>Checkin Day</th>
                    </tr>
                </thead>
                <tbody>
                    {% set v = 0 %}
                    {% for i in gear.checkout_history %}
                    <tr>
                        <td>{{ gear.checkout_history[v].name }}</td>
                        <td>{{ gear.checkout_history[v].dateOut }}</td>
                        <td>
                            {% if gear.checkout_history[v].dateIn is empty %}
                            --- <span class="inline-span" id="{{ v }}">Check In</span>
                            {% else %}
                                {{ gear.checkout_history[v].dateIn }}
                            {% endif %}
                        </td>
                    </tr>
                    {% set v = v + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
<div class="container" style="display: none;" id="successContainer">

    <!-- Modal -->
    <div class="modal fade" id="successModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" style="padding:40px 50px;">
                    <h2 class="green">Success</h2>
                    <div class="body">
                        <span class="glyphicon glyphicon-ok green"></span><p id="successtext">Gear Added Successfully</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="modalDismiss"><span class="glyphicon glyphicon-remove"></span> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="display: none;" id="dateContainer">

    <!-- Modal -->
    <div class="modal fade" id="dateModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body" style="padding: 40px 50px;">
                    <form class="form-add" id="inDateForm" role="form">
                        <h2>Enter Date</h2>
                        <div class="form-group">
                            <input type="text" id="inDate" class="form-control" name="inDate" placeholder="Date">
                        </div>
                        <div class="form-group">
                            <input type="text" id="inName" class="form-control" name="inName" placeholder="Name">
                        </div>
                        <div class="form-button">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/css/gear/checkout.css" type="text/css">
<link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script src="js/gear/checkout.js" type="text/javascript"></script>
{% endblock %}
