{% extends 'templates/default.twig' %}

{% block title %}Gear Checkout{% endblock %}

{% block content %}
<div class="checkout-body">
    <div class="header">
        <h2 class="page-header">Gear Checkout</h2>
    </div>
    <div class="item-info">
        {% if not gear %}
            <h4>No Gear Info Found</h4>
        {% else %}
            <div>
                <h4 class="line">Item Info</h4>
                <p class="gear-name"><span class="label">Name:</span>{{ gear.name }}</p>
                <p class="gear-name"><span class="label">Brand:</span>{{ gear.brand }}</p>
                <p class="gear-name"><span class="label">Amount:</span>{{ gear.amount }}</p>
            </div>
        {% endif %}
    </div>
    <div class="checkout-form">
        <h3>Checkout</h3>
        <form class="form-add" method="POST" action="{{ urlFor('gear.checkout.post') }}" id="checkoutGear" role="form">
            <div class="form-group">
                <label for="inputDate">Check Out Date</label>
                <input type="text" id="inputDate" name="inputDate" class="form-control" placeholder="Checkout Date">
            </div>

            <div class="form-group" id="checkoutName">
                    <label for="inputDate">Check Out Name</label>
                    <input type="text" id="inputCheckOutName" name="inputCheckOutName" class="form-control" placeholder="Checkout Name">
            </div>
        </form>
    </div>
    <div class="checkout-history">
        {% if not gear.checkout_history %}
            <div class="item-history"><h4>No Checkout History</h4></div>
        {% else %}
            <div class="item-history"><h4 class="line">Checkout History</h4></div>
            <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Checkout Day</th>
                  <th>Checkin Day</th>
                </tr>
              </thead>
              <tbody>
                {% set v = 0 %}
                {% for i in gear.checkout_history %}
                    <tr>
                      <td>{{ gear.checkout_history[v].name }}</td>
                      <td>{{ gear.checkout_history[v].dateOut }}</td>
                      <td>
                          {% if gear.checkout_history[v].dateIn is empty %}
                          ---
                          {% else %}
                          {{ gear.checkout_history[v].dateIn }}
                          {% endif %}
                      </td>
                    </tr>
                {% set v = v + 1 %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url.base }}/css/gear/checkout.css" type="text/css">
{% endblock %}
