{% extends 'templates/default.twig' %}

{% block title %}Gear Listing{% endblock %}

{% block content %}
<div class="gear-list">
    <span hidden="hidden" id="{{ csrf_token }}" class="hidden post"></span>
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Brand</th>
              <th>Amount</th>
              <th>Currently Checked Out</th>
              <th>Check Out</th>
            </tr>
          </thead>
          <tbody>
              {% if not gear %}
                <tr>
                  <td>No Gear</td>
                  <td>---</td>
                  <td>---</td>
                  <td>---</td>
                  <td>---</td>
                </tr>
            {% else %}
                {% set v = 0 %}
                {% for i in gear %}
                    <tr>
                      <td>{{ gear[v].name }}</td>
                      <td>{{ gear[v].brand }}</td>
                      <td>{{ gear[v].amount }}</td>
                      <td>
                        {% set x = false %}
                        {% set n = 0 %}
                        {% for i in gear[v].checkout_history %}
                            {% if gear[v].checkout_history[n].dateOut is not empty and gear[v].checkout_history[n].dateIn is empty %}
                                {% set x = true %}
                            {% endif %}
                            {% set n = n + 1 %}
                        {% endfor %}
                        {% if x == true %}
                            <span class="yes">Yes</span>
                        {% else %}
                            <span class="no">No</span>
                        {% endif %}
                      </td>
                      <td><span class="link checkurl" id="{{ gear[v].id }}" data-value="{% if x == true %}in{% else %}out{% endif %}">{% if x == true %}Check In{% else %}Check Out{% endif %}</span></td>
                    </tr>
                {% set v = v + 1 %}
                {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}

{% block styles %}
<link href="/css/gear/list.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/gear/list.js"></script>
{% endblock %}
