{% extends 'templates/admin.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="container">
            <h2 class="page-header">Add Gear</h2>
            <div class="form">
                <form class="form-add" method="POST" action="{{ urlFor('admin.gear.add.post') }}" id="addGear" role="form">
                <div class="form-group">
                    <label for="inputName" class="sr-only">Gear Name</label>
                    <input type="text" id="inputName" name="inputName" class="form-control" placeholder="Gear Name" required autofocus maxlength="55">
                </div>

                <div class="form-group amount">
                  <label for="inputAmount">Amount</label>
                  <select name="inputAmount" class="form-control" required>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="other">Other</option>
                  </select>
                </div>

                <div class="form-group float">
                  <label for="inputBrand">Brand</label>
                  <input type="text" id="inputBrand" name="inputBrand" class="form-control" placeholder="Gear Brand" maxlength="30" required>
                </div>

                <div class="form-group float">
                    <label for="inputSerial">Serial Number</label>
                    <input type="text" id="inputSerial" name="inputSerial" class="form-control" placeholder="Serial #">
                </div>

                <div class="form-group float">
                  <label for="inputCheckOut">Checked Out</label>
                  <input type="checkbox" name="inputCheckOut" class="form-control" id="inputCheckOut">
                </div>

                <div class="form-group float" id="date" style="display: none;">
                    <label for="inputDate">Check Out Date</label>
                    <input type="text" id="inputDate" name="inputDate" class="form-control" placeholder="Checkout Date">
                </div>

                <div class="form-group float" id="checkoutName" style="display: none;">
                    <label for="inputDate">Check Out Name</label>
                    <input type="text" id="inputCheckOutName" name="inputCheckOutName" class="form-control" placeholder="Checkout Name">
                </div>

                <div class="form-group right">
                  <label for="inputStatus">Status</label>
                  <select name="inputStatus" id="inputStatus" class="form-control" required>
                    <option value="ok" selected>Working Order</option>
                    <option value="repair">Needs Repair</option>
                    <option value="replace">Needs Replacement</option>
                    <option value="lost">Lost</option>
                    <option value="other">Other</option>
                  </select>
                  <input type="text" id="inputStatusOther" name="inputStatusOther" class="form-control" placeholder="Other" style="display: none;">
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}" id="check">
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{{ url.base }}/public/css/admin/gear/add.css">
<link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{ url.base }}/public/js/admin/gear/add.js" type="text/javascript"></script>
{% endblock %}
