{% extends 'templates/admin.twig' %}

{% block title %}Site Settings{% endblock %}

{% block content %}
<div class="container">
    <form class="form-edit" method="POST" action="{{ urlFor('admin.site.settings.edit.post') }}" id="form-edit">
        <div class="form-container">
            {% for key, i in settings %}

            <p class="page-header">{{ key|capitalize }}</p>
                {% set x = 0 %}
                {% for sub, i in settings[key] %}
                <div class="form-group">
                    <p class="item">{{ sub|capitalize }}:</p> <input type="text" id="{{ key }}.{{ sub }}" name="{{ key }}_{{ sub }}" class="form-control" value="{{ settings[key][sub] }}">
                </div>
                {% set x = x + 1%}
                {% endfor %}

            {% endfor %}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}" id="check">
    </form>
</div>
{% endblock %}

{% block styles %}
<link type="text/css" href="{{ url.base }}/css/admin/sites/settings.css" rel="stylesheet">
{% endblock %}
